<!-- <h1>Login</h1>
<form [formGroup]="loginForm">
    <input type="text" placeholder="Username" formControlName="username">
    <br>
    <input type="password" placeholder="" formControlName="password">
    <br>
    <button type="submit" (click)="login()">Log In</button>
</form> -->

<body>
    <div class="palette">

    </div>
    <div class="content">
        <mat-card class="card">
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
              
            </mat-card-content>

          </mat-card>
    </div>
</body>