body {
    // height: 100vh;
    // width: 100vw;
    // display: inline-flex;
}

.palette {
    width: 30%;
    height: 100%;
    position: fixed;
    left:0;
    top:0;
    background-color: var(--blue) ;
}

.content{
    width: 70%;
    height: 100%;
    position: fixed;
    right:0;
    top:0;
    background-color: var(--grey) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 6vh;
    height: 70%;
    width: 60%;
    // margin-left: 20%;
}

.title {
    position: absolute;
    bottom: 30vh;
    color: white;
    font-size: 3.5vw;
    width: 100%;
    text-align : center;
}

mat-card-title {
    font-size: 3vw;
}

.username {
    margin-top: 10vh;
}

.password {
    margin-top: 10vh;
}

input {
    background-color: var(--grey);
}

button {
    background-color: var(--blue);
    color: white;
    margin-top: 10vh;
}

mat-spinner{
    position: fixed;
    width: 20%;
    height: 20%;
    left: 50%;
    top: 40%;
    z-index : 99;
}
