body {
    background-color: var(--grey);
}

.title {
    font-size: 4em;
    line-height: 1em;
    font-weight: bolder;
    margin-left: 5%;
    padding-top: 5%;
    color: var(--blue);
}

p {
    color : var(--blue);
    font-size : 20px;
    line-height: 0.9em;
}

.example-tree-invisible {
    display: none;
}
  
.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

/*
* This padding sets alignment of the nested nodes.
*/
.example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
}

/*
* Padding for leaf nodes.
* Leaf nodes need to have padding so as to align with other non-leaf nodes
* under the same parent.
*/
.example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
}

button { 
    background-color: var(--grey);
    outline: none;
    border: none;
}

mat-tree {
    margin-left: 5%;
    background-color: var(--grey);
}