<body>
  <div class="titles">
    <div class="title">select an employee to manage their <p class="blue-text">schedule</p></div>
    <div class="employee">{{selectedNode.first_name}} {{selectedNode.surname}}</div>
  </div>
    <div id="content">
    <div id="tree">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
            <!-- This is the tree node template for leaf nodes -->
            <!-- There is inline padding applied to this node using styles.
              This padding value depends on the mat-icon-button width. -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle (click)="select(node)">
              <div class="node">
                <mat-icon>person</mat-icon><strong>{{node.first_name}}</strong>&nbsp;&nbsp;
                #{{node.id}}
            </div>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" >
                <div class="mat-tree-node" (click)="select(node)">
                  <div class="node">
                  <button mat-icon-button matTreeNodeToggle
                          [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  <mat-icon>person</mat-icon><strong>{{node.first_name}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                  #{{node.id}}
                  </div>
                </div>
                <!-- There is inline padding applied to this div using styles.
                    This padding value depends on the mat-icon-button width.  -->
                <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                    role="group">
                  <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </mat-nested-tree-node>
          </mat-tree>
        </div>
        <div id = "schedule">
          <mat-list role="list">
            <span class="schedule_item">
              <mat-list-item role="listitem" *ngFor="let s of selectedNode.schedules[0].schedule; let i = index"><p id="bold">{{s.title}}</p><p class="time">{{s.start_time}} - {{s.end_time}}</p><p class="description">{{s.description}}</p><mat-icon id="update" (click) = "openDialog(s,i)" >update</mat-icon><mat-icon id="delete" (click) = "delete(s, i)" >delete_forever</mat-icon></mat-list-item>
            </span>
          </mat-list>
          <button id="add" (click)="add()" mat-raised-button>Add Item</button>
        </div>
      </div>
</body>