body {
    // height: 100%;
    // width: 100%;
    background-color: var(--grey);
}

.title {
    width: 70%;
    height: 70%;
    font-size: 5em;
    line-height: 1em;
    font-weight: bolder;
    padding-top: 10%;
    margin-left: 10%;
}

.blue-text {
    color: var(--blue);
}